.card {
  width: 3cm;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 1s;
  transform-origin: center bottom 0;
  transition: transform 1s ease-in-out;
}

.card img {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.card.is-dragging {
  display: none;
  transition: none;
}

.card.is-flying {
  transition: none;
}
