.tableau {
  background-color: #eeeeee;
  border: 10px solid #eeeeee;
  border-radius: 10px;
  font-size: 8px;
  font-family: monospace;
  text-transform: lowercase;
  text-align: center;
}

.pile.can-drop {
  background-color: rgba(0, 150, 0, 0.3);
}

.tableau.player1 {
  top: 8%;
  left: 40%;
  transform: rotate(180deg);
}

.tableau.player2 {
  top: 75%;
  left: 40%;
}

.tableau.center {
  top: 40%;
  left: 30%;
  width: 9cm;
}

.pile.main {
  left: 6cm;
}

nav ul {
  max-width: 5em;
  list-style: none;
}

nav ul li {
  padding-top: 1em;
  text-align: center;
}

nav ul button {
  border: solid black 1px;
  border-radius: 3px;
  background-color: white;
  padding: 1em;
  min-width: 10em;
}

nav ul button:active {
  background-color: #688c00;
}

nav ul button span {
  width: 18px;
  height: 18px;
  padding: 4px;
  background-color: #688c00;
  color: white;
  text-align: center;
  /* border: 2px solid #666; */
  border-radius: 50%;
  font: 16px sans-serif;
  display: inline-block;
}

nav ul button.restart {
  background-color: #cfcfcf;
}
